<!DOCTYPE html>
<html lang="en">
<head>
	<title>Campaign Website | Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{BaseURL}}assets/css/styles.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{{BaseURL}}assets/js/campaign_website.min.js"></script>

</head>
<body>