
//
// Load core variables and mixins
// --------------------------------------------------

@import "theme.less";


body,html {
	height:100%;
	color:@dark-grey;
	background-color:@gray-lighter;
	font-size:100%;
	.roboto-font;
	position:relative;
}

body.modal-open {
	margin-right:0px;
}

/*--------------------------------------------
GENERAL STYLES
--------------------------------------------*/

p {
}

a {
	
}

blockquote {
	font-style:italic;
	color:@nau-blue;
}

hr {
	margin-top:25px;
	margin-bottom:25px;
}

hr.green {
	background-color:@nau-light-sage;
	color:@nau-light-sage;
}

hr.blue {
	background-color:@nau-blue;
	color:@nau-blue;
}

hr.purple {
	background-color:#61003d;
	color:#61003d;
}

hr.orange {
	background-color:@nau-orange;
	color:@nau-orange;
}

hr.lg {
	height:7px;
}

hr.sm {
	height:3px;
}

h1 {
	font-size:2em;
}

h3 {
	color:@nau-light-sage;
}

.border-green {
	border-left:none;
}

.border-blue {
	border-left:none;
}

.title-container {
	color:#fff;

	h1 {
		font-size:6em;
		letter-spacing: -8px;
		.univers-font;
		text-shadow: 1px 1px 10px #333;

	}

	p {
		.egyptian-font;
		font-size:2em;	
		font-weight:normal;
		line-height:1em;
		text-shadow: 1px 1px 10px #333;
	}
}

.title-container.about {
	position:absolute;
	text-align:left;
	width:100%;
	top:10%;

	img {
		position:absolute;
		right:0%;
		top:15%;
	}

	h1 {
		font-size:4em;
		letter-spacing:-4px;
	}
}


/*Hover states for animation*/
.dark-grey-hover {
	color:@dark-grey;
	cursor:pointer;
}

.dark-white-hover {
	color:@white-darker;
	cursor:pointer;
}

.white-hover {
	color:#fff;
	cursor:pointer;
}

.img-hover {
	opacity:0.8;
	&:hover {
		opacity:1.0;
	};
}


/*Aniamtions*/

.homepage-circles, .bottom-nav-add {
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.fade {
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
transition: all 1s ease;
}

a,
.category-nav a,
.category-nav a i,
.social i,
.admin-links a,
.short-article-title a,
.side-nav li a,
.side-nav li a div,
.side-nav li a i,
.three-column img,
.related-bar img {
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
transition: all 0.2s ease;
}

@-webkit-keyframes text-circle {
  25% { width:150px; height:150px; font-size:6em; }
  100% { left:43%; top:100px; width:60px; height:60px;}
}

@-webkit-keyframes camera-circle {
  50% { width:5px; height:10px; font-size:.2em; }
  100% { left:47.6%; top:100px; width:60px; height:60px;}
}

@-webkit-keyframes video-circle {
  50% { width:30px; height:30px; font-size:1em; }
  100% { left:52%; top:100px; width:60px; height:60px;}
}

@keyframes text-circle {
  25% { width:150px; height:150px; font-size:6em; }
  100% { left:43%; top:100px; width:60px; height:60px;}
}

@keyframes camera-circle {
  50% { width:5px; height:10px; font-size:.2em; }
  100% { left:47.6%; top:100px; width:60px; height:60px;}
}

@keyframes video-circle {
  50% { width:30px; height:30px; font-size:1em; }
  100% { left:52%; top:100px; width:60px; height:60px;}
}

.animation-mixin (@name, @duration: 1s, @delay: 0s, @ease: ease) {
	-webkit-animation: 	@name @duration @delay @ease normal forwards;
	-moz-animation:    	@name @duration @delay @ease normal forwards;
	-ms-animation:     	@name @duration @delay @ease normal forwards;
	-animation:     	@name @duration @delay @ease normal forwards;
	animation:     	@name @duration @delay @ease normal forwards;
}

#text {
	top:35%;
	left:10%;
	background-color:#a87d99;
	z-index:3500;
}

#camera {
	top:10%;
	left:25%;
	background-color:#6da3bf;
	z-index:3500;
}

#video {
	top:65%;
	left:65%;
	background-color:#cc6600;
	z-index:3500;
}


.camera-circle-animation {
	.animation-mixin(@name: camera-circle, @duration: 1s, @delay: 0s, @ease: ease);
}

.text-circle-animation {
	.animation-mixin(@name: text-circle, @duration: 1s, @delay: 0s, @ease: ease);
}

.video-circle-animation {
	.animation-mixin(@name: video-circle, @duration: 1s, @delay: 0s, @ease: ease);
}

#modal-bg-parent {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index:3000;
	position:fixed;
}

#modal-bg {
	background-color:#000;
	opacity:0.7;
	width:100%;
	height:100%;
}

#featured-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	z-index:3300;
	overflow-y: scroll;

	.modal-dialog {
		position:relative;
		top:165px;
		left:0px;
		padding-top:0px;
		padding-bottom:0px;
		.modal-content {
			border:none;
			border-radius:0px;
			background-color:#eee;
		}
	}

}

/*Header*/
header {
	position:relative;
	.menu-btn {
		width:100%;
		height:70px;
		font-size:34px;
		letter-spacing:-3;
		.univers-font;
		border:none;
	}

	.menu-collapse {
		background-color:@nau-blue;
		> ul {
			padding:15px;
		}
	}
}

/*Side nav*/

.side-nav {
	margin:35px 0px;
	>li {
		> a {
			color:@light-grey;
			padding:0px 15px 5px 15px;
		}	
	}
}

.side-nav.article {
	>li {
		> a {
			> div { display:inline-block; width:25px;}
			&:hover {
				.dark-grey-hover;
				> div { margin-right:5px; }
			}
		}
	}
}

.side-nav.about {
	>li {
		> a {
			> i { 
				position:relative;
				left:5px;
			}
			&:hover {
				.dark-grey-hover;
				> i { left:9px; }
			}
		}
	}
}

/*Footer*/
footer {
	position:relative;
	width:100%;
	color:@white;
	bottom:25px;
}

.opaque-section {
	position:relative;
	width:100%;
	height:15px;
	opacity:.5;
	background-color:#000000;
}

/*Footer Slider*/

.stories-container {
	padding-top:40px;
}

.stories-btn {
	position:relative;
	z-index:1000;
	height:15px;
	background-color:#000000;
	text-align:center;
	width:100%;
	button {
		position:relative;
		margin:0px auto;
		top:-50px;
		color:#fff;
		height:100px;
		width:100px;
		font-size:4em;
		border-radius: 50%;
		.btn-colors(@nau-blue);
		border:none;
		i {
			position:relative;
			top:0px;
		}
		&:hover,active {
			color:#fff;
			.btn-colors(@nau-blue);
			border:none;
			}
		}

} 

.bottom-links {
	position:absolute;
	width:100%;
	bottom:15px;
	left:0px;
	z-index:6000;
}

.three-column {
	> div {
		margin-bottom:25px;
	}
}

footer .three-column img, .related-bar img {
	.img-hover;
}

.flip {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg);
}


.stories-parent {
	z-index:5000;
	a {
		color:#fff;
		&hover {
			.dark-white-hover;
		}
	}
}

.carousel-indicators {
	bottom:-20px;
	opacity:0.7;
}

.bottom-nav {
	background-color:@dark-grey;
	padding:20px 30px;
	position:relative;
	z-index:5000;
}

.category-nav {
	margin-top:0px;
	> li {
		> a {
			color:@white;
			padding:3px 20px 3px 0px;
			&:hover,
  			&:focus {
  				.dark-white-hover;
  				> i {
  					left:9px;
  				}
 			}
 			> i {
 				position:relative;
 				left:5px;
 			}
		}
	}
}


.stories-collapse.collapse {
	display:block;
	height:auto !important;
}

.stories-collapse {
	z-index:500;
	background-color:#000000;
	.row {


	}
}





/*--------------------------------------------
HOME PAGE SPECIFIC STYLES
--------------------------------------------*/

#homepage {
	overflow:auto;
}

.title-container.homepage {
	position:absolute;
	text-align:right;
	right:8%;
	top:5%;

	img {
		position:absolute;
		text-align:right;
		top:140%;
		right:0%;
	}
}

#bg-picture {
	background-image:url('../../assets/img/old_main.jpg');
	background-repeat:no-repeat;
	background-position: top center;
	padding-left:0px;
	padding-right:0px;
	height:100%;
	background-size:cover;
	overflow:hidden; 
}

.homepage-circles {
	border-radius:50%;
	width:60px;
	height:60px;
	opacity:.7;
	position: absolute;
	border:none;
	text-align:center;
	color:#fff;
	font-size:1.5em;
	&:hover {
		opacity:.9;
		width:70px;
		height:70px;
		color:#fff;
		font-size:2em;
	}
}

.active-circle {
	opacity:1 !important;
}


/*--------------------------------------------
ARTICLE PAGE SPECIFIC STYLES
--------------------------------------------*/

.left-content {
	margin-top:10px;
	margin-bottom:10px;

	a {
		font-weight:bold;
	}
}


#main {
	margin-top:25px;
	margin-bottom:75px;
}


.title-container.article {
	position:absolute;
	text-align:right;
	width:100%;
	top:5%;

	img {
		position:relative;
		top:50px;
	}
}

.article-title, .category-title {
	margin-top:5px;
	margin-bottom:30px;
	text-transform: uppercase;
	font-weight:bold;
	.white-shadow;
}

.short-article-title {
	margin-top:10px;
	font-weight:normal;
	a {
		color:#fff;
		&:hover {
			.dark-white-hover;
		}
	}
}

footer {
	.short-article-title {
		text-align:center;
	}
}

#article-bg-picture {
	max-height:500px;
	overflow:hidden;
	.shadow();
}

#about-bg-picture {
	#article-bg-picture;
	max-height:150px;
}


.related-bar {
	margin-top:10px;
	> img {
		cursor:pointer;
		margin-bottom:10px;
	}
}


.overview {
	.egyptian-font;
	font-size:1.1em;
}

.left-content-cta {
	margin-top:10px;
	.egyptian-font;
	font-size:1.1em;
	h3 {
		text-transform: uppercase;
		font-size:1.5em;
		margin-top:5px;
		font-weight:bold;
		a {
			color:@nau-blue;	
		}
		
	}
}

.left-content-content {
	margin-bottom:10px;
}


.nau-video {
	margin-bottom:15px;
}

.social {
	z-index:5000;
	font-size:1.1em;
	color:@white-darkerer;
	i {
		padding-right:15px;
		&:hover {
			.white-hover;
		}
	}
}

.admin-links {
	text-align:right;
	font-size:.75em;
	z-index:5000;
	color:@white-darkerer;
	a {
		color:@white-darkerer;
		&:hover {
			.white-hover;
		}
	}
}

.related-bar {
	h3 {
		margin:5px;
	}

	hr {
		margin:5px;
	}
	img {
		padding:5px;
	}
}


/*--------------------------------------------
BOOTSTRAP SIMPLE OVERRIDES
--------------------------------------------*/

.well-sm, .well-lg {
	.remove-rounded;
	margin-bottom:0px;
}


#bg-picture.row, #wg-picture.row, .stories-collapse.row {

}


/*--------------------------------------------
RESPONSIVE STYLES
--------------------------------------------*/



@media (min-width: @screen-sm) {

	//.title-container is inherited from the main styles above
	//.title-container for article pages is inherited from main .title-container class
	//.title-container for about pages is inherited from main .title-container class

	#main {
		padding-bottom:150px;
	}

	.menu-btn {
		width:200px;
		height:50px;
		font-size:16px;
		letter-spacing:0px;
		font-family:'Arial';
	}

	footer {
		position:fixed;
		left:0px;
		bottom:0px;
		width:100%;
		color:@white;
	}

	h1 {
		font-size:2.5em;
	}

	.bottom-links {
		position:fixed;
	}

	#homepage {
		overflow:hidden;
	}

	.side-nav {
		margin:0px 0px 35px 0px;
	}

	.stories-collapse.collapse {
		display:none;
	}

	.border-green {
		border-left:30px solid @nau-sage;
	}

	.border-blue {
		border-left:30px solid @nau-blue;
	}

	.opaque-section {
		height:45px;
	}

	/*Footer Slider*/
	.stories-btn {
		height:55px;
		button {
			top:-35px;
			height:70px;
			width:70px;
			font-size:2em;
		}

	} 

	.category-nav {
		font-size:.88em;
		.black-shadow;
	}

	.bottom-nav {
		padding:10px 30px;
	}


	.short-article-title {
		font-size:.88em;
	}

	.bottom-nav-add {
		top:-10px;
	}

	.left-content-cta {
		h3 {
			font-size:2.5em;
		}
	}

	.carousel-control {

		// Toggles
		.icon-prev,
		.icon-next,
		.icon-chevron-left {
			top: 35%;
		}

		.icon-chevron-right {
			top: 35%;
		}

	}



}

@media (min-width: @screen-md) {

	.title-container {

		h1 {
			font-size:8em;
		}
		p {
			font-size:2.5em;
		}

	}

	.title-container.about {
		h1 {
			font-size:4.5em;
		}
	}

	//.title-container h1 for article pages is inherited from main .title-container class

	.short-article-title {
		font-size:1em;
	}

	.opaque-section {
		height:55px;
	}
		/*Footer Slider*/
	.stories-btn {
		height:65px;
		button {
			top:-40px;
			height:80px;
			width:80px;
			font-size:2.5em;
		}
	} 


	.category-nav {
		font-size:1em;
	}

	.bottom-nav {
		padding:15px 30px;
	}

	.carousel-control {
		// Toggles
		.icon-prev,
		.icon-next,
		.icon-chevron-left {
			top: 38%;
		}

		.icon-chevron-right {
			top: 38%;
		}
	}


}


@media (min-width: @screen-lg) {

	.title-container {

		h1 {
			font-size:10.5em;

		}
		p {
			font-size:3em;
		}
	}

	.title-container.article {
		h1 {
			font-size:8.5em;
		}

		img {
			top:100px;
		}
	}

	.opaque-section {
		height:65px;
	}

	.bottom-nav {
		padding:15px 30px;
	}

		/*Footer Slider*/
	.stories-btn {
		height:85px;
		button {
			top:-50px;
			height:100px;
			width:100px;
			font-size:3.2em;
		}
	}

	.bottom-nav-add {
		top:-15px;
	}
	.carousel-control {

		// Toggles
		.icon-prev,
		.icon-next,
		.icon-chevron-left {
			top: 39%;
		}

		.icon-chevron-right {
			top: 39%;
		}

	}


}



